
<form class="form form-horizontal">
    <div class="row">
      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label>First Name</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text"><span [data-feather]="'user'"></span></span>
              </div>
              <input
                type="text"
                id="fname-icon"
                class="form-control"
                name="fname-icon"
                placeholder="First Name"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label>Email</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text"><span [data-feather]="'mail'"></span></span>
              </div>
              <input
                type="email"
                id="email-icon"
                class="form-control"
                name="email-id-icon"
                placeholder="Email"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label>Mobile</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text"><span [data-feather]="'smartphone'"></span></span>
              </div>
              <input
                type="number"
                id="contact-icon"
                class="form-control"
                name="contact-icon"
                placeholder="Mobile"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group row">
          <div class="col-sm-3 col-form-label">
            <label>Password</label>
          </div>
          <div class="col-sm-9">
            <div class="input-group input-group-merge">
              <div class="input-group-prepend">
                <span class="input-group-text"><span [data-feather]="'lock'"></span></span>
              </div>
              <input
                type="password"
                id="pass-icon"
                class="form-control"
                name="contact-icon"
                placeholder="Password"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-9 offset-sm-3">
        <div class="form-group">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="customCheck2" />
            <label class="custom-control-label" for="customCheck2">Remember me</label>
          </div>
        </div>
      </div>
      <div class="col-sm-9 offset-sm-3">
        <button type="submit" rippleEffect class="btn btn-primary mr-1">Submit</button>
        <button type="reset" rippleEffect class="btn btn-outline-secondary">Reset</button>
      </div>
    </div>
  </form>
    